In [6]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score

# --- Plot Parameters ---- 
plt.rcParams["figure.figsize"] = (10,8)
plt.rcParams["figure.dpi"] = 100
plt.rc('font', family = 'serif', serif = 'cmr10') 
plt.rcParams.update({# Use mathtext, not LaTeX
                            'text.usetex': False,
                            # Use the Computer modern font
                            'font.family': 'serif',
                            'font.serif': 'cmr10',
                            'mathtext.fontset': 'cm',
                            })
plt.rcParams.update({'font.size': 22})
plt.rcParams['axes.unicode_minus'] = False
plt.rcParams['mathtext.fontset'] = 'stix'
plt.rcParams['axes.labelsize'] = 30
plt.rcParams['axes.spines.right'] = False
plt.rcParams['axes.spines.top'] = False
colour_arrays = ['red', 'blue', 'green', 'crimson', 'lime']

In [5]:
target_list = pd.read_csv('target_list/target_list.csv')
target_list.tail()

,Cluster_name,RA_J2000_Dec,Unnamed: 2,l,b,Dist,Mod,EB-V,Age,ST,Z,Diam,Fe/H,MRV,pm RA,pm Dec,MYr,Unnamed: 17
5,NGC 6613,18 19 58,-17 06 06,14.183,-1.011,1296,11.96,0.450,7.223,B3,-22.9,5,NaN,-14.0,-1.02,-1.33,16.710906,NaN
6,NGC 6618,18 20 47,-16 10 18,15.095,-0.746,1300,15.25,1.510,6.000,O5,-16.9,25,NaN,NaN,1.79,-1.96,1.000000,NaN
7,NGC 6694,18 45 18,-09 23 00,23.879,-2.914,1600,12.85,0.589,7.931,B5,-81.3,7,NaN,-9.2,-1.73,-0.91,85.310011,NaN
8,ESO 524-01,18 56 39,-26 57 48,9.063,-12.991,2800,13.17,0.300,9.510,NaN,-629.4,6,NaN,NaN,NaN,NaN,3235.936569,NaN
9,NGC 2175,06 09 39,+20 29 12,190.043,0.482,1627,12.91,0.598,6.953,NaN,13.7,5,NaN,22.0,1.80,-2.26,8.974288,NaN